.productsListMain{
    display: flex;
    flex-direction: column;

}

.boxSingleCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 55vw;
    gap: 15px;
    margin: 0 auto;

    .singleCard{
        height: 350px;
    }

}

.boxFeaturedCard{
    width: 100%;
    display: flex;
    gap: 20px;
    height: 550px;   
    .featuredCard{
        flex: 1;
    }
}





@media (max-width: 1024px){
    .boxSingleCard{
        width: 75vw;
    }
}


@media (max-width: 768px){
    .boxSingleCard{
        grid-template-columns: repeat(2, 1fr);
        width: 85vw;
    }
}



@media (max-width: 640px){
    .boxSingleCard{
        display: flex;
        flex-direction: column;
        width: 85vw;

        .singleCard{
            height: 450px;
        }
    }


    .boxFeaturedCard{
        flex-direction: column;
        .featuredCard{
            height: 250px;
        }
    }
}