
$main : #27272A;
$second : #854D0E;
$third : #D1D5DB;
$light: #F4F4F5;
$blue: #1D1F2D;
$gray: rgb(113 113 122);




body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $main;
    font-family: 'Rubik', sans-serif;

}


@keyframes buttonCard {
    from{
        top: 90%;
        opacity: 0%
    }

    to{
        top: 80%;
        opacity: 1;
    }
}




////////////// IMPORT ////////////// 

@import '../components/navbar/navbar';
@import '../components/footer/footer';
@import './home';
@import '../components/banner/banner';
@import '../components/about/about';
@import '../components/featured/featured';
@import'../reusableComponents/card/card';
@import '../reusableComponents/title/title';
@import '../reusableComponents/productsList/productsList';
@import '../components/newsletter/newsletter';
@import '../app/login/loginPage';
@import '../app/our-products/[slug]/productsPage';
@import '../components/quantity/quantity';
@import '../components/slider/slider';
@import './cart/cart';
@import "../app/admin/admin";
@import "../app/admin/adminRecharts/miniChart/miniChart";
@import "../app/admin/adminRecharts/salesChart/salesChart";
@import "../app/admin/adminRecharts/pieChart/pieChart";
@import "../app/admin/adminRecharts/visitChart/visitChart";
@import "../app/admin/products/products";




