
$main : #27272A;
$second : #854D0E;
$third : #D1D5DB;
$light: #F4F4F5;




body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $main;
}


@keyframes buttonCard {
    from{
        top: 90%;
        opacity: 0%
    }

    to{
        top: 80%;
        opacity: 1;
    }
}




////////////// IMPORT ////////////// 

@import './navbar/navbar';
@import './footer/footer';
@import './home';
@import '../components/banner/banner';
@import '../components/about/about';
@import '../components/featured/featured';
@import'../reusableComponents/card/card';
@import '../reusableComponents/title/title';
@import '../reusableComponents/productsList/productsList';





