.featuredMain{
    width: 55vw;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    
    p{
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        margin: 4rem 0;
    }

    
    .featuredCardsBox{
        width: 100%;
        display: flex;
        gap: 20px;
        height: 550px;   
        &_singleBox{
            flex: 1;
        }

    }
    
}




