.adminDashboard{

    &_first {
       display: flex;
        width: 90vw;
        margin: 30px auto;
        justify-content: space-between; 
    }
    &_second{
        display: flex;
        width: 90vw;
        margin: 0 auto;
        justify-content: space-between; 
    }
    &_third {
        display: flex;
        width: 90vw;
        margin: 30px auto 0 auto;
        justify-content: space-between; 
    }
    
    
}